.button .btn {
  color: #3973ac;
  border-color: #3973ac;
  box-shadow: #9fbfdf;
}

.button .btn-outline-secondary:hover {
  background-color: #3973ac;
  border-color: #3973ac;
}

.button .btn-outline-secondary:active {
  box-shadow: 0 0 0 0.25rem #9fbfdf;
}

.button .btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.25rem #9fbfdf;
}
